name: Auto-tag

on:
  push:
    branches:
     - master
    tags:
    - v1
    paths:
    - auto-tag/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker build . --file auto-tag/Dockerfile --tag gcr.io/niki-ai/auto-tag:$(date +%s)
